* {
    box-sizing: border-box;
}

a:link    { color: #337ab7; text-decoration: none;      }
a:hover   { color: #23527c; text-decoration: underline; }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.6em;
    margin: 0;
    color: rgb(51, 51, 51);
    background-color: #d4d4d4;
}

#app {
    min-height: 100vh;
}

.navbar {
    background-color: #23527c;
    top: 0;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li a {
    font-weight: bolder;
    font-size: 2.4em;
    color: aliceblue;
}

.select_menu_area, .choose_file_wrapper, .spinner-page, .audio-visualizer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 2.7rem);
}
.choose_file_wrapper {
    flex-direction: column;
}

.select_menu_button {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23527c;
}

.select_menu_button:nth-child(even) {
    background-color: #20723f;
}

.select_menu_button:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.select_menu_button:hover {
    box-shadow: 5px 10px #888888;
    background-color: #326795;
}

.select_menu_button:nth-child(even):hover {
    box-shadow: 5px 10px #888888;
    background-color: #329556;
}

.select_menu_button p {
    font-size: 5em;
    color: aliceblue;
}

.drop_area {
    text-align: center;
    padding: 20% 0;
}

.drop_area_wrapper {
    width: 70%;
    background-color: #efefef;
    outline: 2px dashed grey;
    outline-offset: -10px;
}

.drop_area_wrapper.drop_active {
    background-color: #9f9f9f;
    outline: 2px dashed #ececec;
    color: #e9e9e9;
}


.drop_area input {
    display: none;
}

.drop_area label {
    font-size: 4.5em;
}

.drop_area label:hover > strong {
    color: grey;
}

.image_view {
    padding: 1.5em;
}

.image_view details {
    background: #717172;
}

.image_view details summary {
    cursor: pointer;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    font-size: 1.15em;
    color: #eeeeee;
}

.diff_scale_with_label_wrapper {
    max-width: 10em;
}
.diff_scale_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.diff_scale {
    display: inline-block;
    background: linear-gradient(black, white);
}
.diff_scale_values {
    background: linear-gradient(black, white);
}
.diff_scale_labels {
    display: inline-block;
    height: auto;
    position: relative;
    margin-left: 0.3em;
}
.diff_scale_labels label {
    display: block;
    font-size: 1.5em;
    color: white;
}
.diff_scale_lower_label {
    position: absolute;
    bottom: 0;
}


input.sidebar_activator {
    display: none;
}

label.sidebar_activator {
    position: fixed;
    bottom: 3em;
    right: 5%;
    width: 4em;
    height: 4em;
    background: #fff;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(232, 74, 100, .4);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;

    cursor: pointer;
}

.sidebar_activator span{
    position: absolute;
    display: block;
    width: 2em;
    height: 2px;
    background: black;
    margin-top: -1px;
    left: 50%;
    margin-left: -1em;
    top: 50%;
}

.sidebar_activator span::before, .sidebar_activator span::after {
    content: "";
    position: absolute;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform .3s, background 0s;
}

.sidebar_activator span::before {
    top: -6px;
    transform: rotate(0);
}

.sidebar_activator span::after {
    bottom: -6px;
    transform: rotate(0);
}

input.sidebar_activator:checked ~ label {
    box-shadow: none;
}

input.sidebar_activator:checked ~ label span::before {
    top: 0;
    transform: rotate(135deg);
}

input.sidebar_activator:checked ~ label span {
    background: transparent;
}

input.sidebar_activator:checked ~ label span::after {
    bottom: 0;
    transform: rotate(225deg);
}

.sidebar_settings {
    position: fixed;
    width: 90%;
    max-width: 400px;
    right: 5%;
    bottom: 3em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(232, 74, 100, .4);
    background: #fff;
    visibility: hidden;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: transform .3s, visibility 0s .3s;

    display: flex;
    flex-direction: column;
    padding: 1em 6em 1em 1em;

    font-size: 2em;
}
.sidebar_settings option, .sidebar_settings select {
    font-size: 1em;
}

input.sidebar_activator:checked ~ .sidebar_settings {
    visibility: visible;
    transform: scale(1);
    transition: transform .3s, visibility 0s 0s;
}

.scrollable-canvas-wrapper {
    overflow: hidden;
    display: inline-block;
}

.dual-spinner {
    display: inline-block;
}

.dual-spinner:after {
    content: "";
    display: block;
    width: 20em;
    height: 20em;
    margin: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: dual-spinner 1.2s linear infinite;
}

@keyframes dual-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-page .filename {
    font-size: 2.5em;
}

.audio-visualizer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.audio-visualizer-wrapper .audio-visualizer-box {
    width: 80%;
    margin: 0 auto;
}

.audio-visualizer-box .player-wrapper {
    display: flex;
    justify-content: center;
}

.audio-visualizer-box audio {
    width: 80%;
}

/*  PLAYER  */

.audio-player {
    height: 4em;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 20px 0 #000a;
    color: black;
    font-size: 2em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
}

.audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
}

.audio-player .timeline .progress {
    background: blue;
    width: 0;
    height: 100%;
    transition: 0.25s;
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
}

.audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid white;
    border-left: 13px solid black;
}

.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: black;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: black;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
}

.audio-player .controls .time > * {
    padding: 2px;
}

.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    top: 15px;
    left: -3px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: black;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: coral;
    height: 100%;
    width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
}

.playback-controls select {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 17px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 10px;
    -webkit-appearance: none;
    appearance: none;
    line-height: 1;
    outline: 0;
}

.playback-controls  select:hover {
    background-color: #555555;
}

.playback-controls button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    width: 18em;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.playback-controls .compression-chart-mode-button {
    width: 21em;
    margin-right: 1em;
}

.playback-controls button:hover {
    background-color: #555555;
    color: white;
}

.playback-controls button.-selected {
    background-color: forestgreen;
    color: white;
}

.playback-controls .playback-button {
    margin-left: 1em;
}

.canvas_column_wrapper {
    display: inline-block;
}

.row_of_columns {
    display: table;
}
.row_of_columns > div {
    vertical-align: top;
}

.labeled_canvas_wrapper {
    display: inline-block;
    text-align: center;
    padding: 5px 0 0 0;
}
.canvas_label {
    font-size: 1.5em;
    color:white;
    margin: 0.4em 0;
}
.canvas_with_overlay_container {
    margin: 5px;
    display: inline-block;
}

.canvas_overlay {
    position: absolute;
    display: block;
}
.canvas_overlay:not([src]){
    opacity: 0;
}

.canvas_overlay[src]{
    opacity: 1;
}
.label_span_wrapper {
    position: relative;
}
.question_mark_span {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.4em;
    line-height: 1.4em;
    border-radius: 1.4em;
    margin-left: 0.4em;
    padding: 1px;
    color: #4e4e4e;
    background: white;
    border: none;
    text-decoration: none;
}
.question_mark_span:hover {
    cursor: pointer;
}
.info_overlay {
    position: absolute;
    background-color: white;
    border: solid 3px gray;
    border-radius: 8px;
    padding: 5px;
    color: black;
    top: 30px;
    z-index: 2;
}

/* G711 - spectogram */

.audio-spectogram {
    width: 80%;    
}

.audio-spectogram > .header {
    background-color: white; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.audio-spectogram > .header > h2 {
    font-size: x-large;
    margin: 20px 0 18px 0;
}

.audio-spectogram > canvas {
    width: 100%;
    height: 500px;
}

.audio-spectogram > canvas.-hidden {
    display: none;
}


/* MPEG */
.mpeg-container {
    --component-gap: 20px;
    --component-padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--component-gap);
}

.frames-accordion {
    --scrollbar-bg: rgb(64.15% 79.27% 100%);
    --thumb-bg: rgb(41.62% 69.37% 100%);
    --scrollbar-width: 8px;
    display: flex;
    width: 100%;
    gap: 3px;
    user-select: none;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-bg) var(--thumb-bg);
}

.frames-accordion::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.frames-accordion::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

.frames-accordion::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg);
}

.frame-item {
    font-size: 1.2rem;
    width: 40px;
    min-width: 34px;
    text-align: center;
    height: 60px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    cursor: pointer;
}

.frame-item.-selected {
    background-color: slateblue;
    color: white;
}

.frame-item.-intra:not(.-selected) {
    background-color: antiquewhite;
}

.frame-item.-predictive:not(.-selected) {
    background-color: honeydew;
}

.frame-item.-bidirectional:not(.-selected) {
    background-color: cornsilk;
}

.frame-item.-more {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    width: 2ch;
    clip-path: none;
}

.frame-item > p {
    margin: 3px 0px 0px 0px;
}

.frame-item > .typeletter {
    font-size: 1rem;
    margin-top: 5px;
}

.frame-container {
    display: flex;
    gap: var(--component-gap);
    margin-top: 4px;
    align-items: start;
}

.frame-main {
    display: flex;
    flex-direction: column;
    gap: var(--component-gap);
}

.canvas-container > .canvasindicator {
    position: absolute;
    pointer-events: none;
}

.frame-sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--component-gap);
}

.frame-sidebar.-hidden {
    display: none;
}

.frame-sidebar > * {
    min-width: 258px;
    padding: var(--component-padding);
    background: white;
    font-size: initial;
}

.frame-sidebar > * > h3 {
    margin: 0;
}

.frame-sidebar > .controls-container > h3 {
    margin-bottom: 16px;
}

.macroblock-details {
    background-color: white;
    font-size: 1rem;
}

.macroblock-details.-hidden {
    display: none
}

.macroblock-details > h3 {
    margin: 0
}

.block-container {
    margin-bottom: 2px;
}

.block-container > .buttonlist {
    display: flex;
    gap: 2px;
}

.block-container > .buttonlist > button {
    background-color: cadetblue;
    padding: 0.3rem 0.6rem;
    border: none;
    color:white;
}

.block-container > .buttonlist > button:disabled {
    opacity: 40%;
}

.block-container > .buttonlist > button.-selected:not(:disabled) {
    background-color: forestgreen;
}

.block-content {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 0.8rem;
    text-align: right;
}

.block-content > tr > td {
    border: 1px solid black;
    width: 3ch;
}

.block-canvas-list {
    display: flex;
    gap: 1rem;
    align-items: end;
    margin-top: 1rem;
}

.block-canvas-list > .block {
    text-align: center;
}

.block-canvas-list > .block > .ys {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 2px;
}

.macroblock-history {
    display: flex;
    flex-direction: column;
    font-size: initial;
    background-color: white;
    padding: var(--component-padding);
}

.macroblock-history.-hidden {
    display: none;
}

.macroblock-history > h3 {
    margin: 0;
}

.history-container {
    --canvas-gap: 15px;
    display: flex;
    justify-content: center;
    gap: var(--canvas-gap);
}

.history-container .image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-container > .vertical-container {
    display: flex;
    flex-direction: column;
    gap: var(--canvas-gap);
}

.history-container .image > canvas {
    border: 5px solid transparent;
}

.history-container .image.result > canvas {
    border-color: olivedrab;
}

.history-container .arrow {
    flex-grow: 1;
    max-width: 170px;
    max-height: 138px;
    display: flex;
    align-items: center;
}

.history-container .arrow::before {
    content: attr(data-text);
    flex-grow: 1;
    background: #ddd;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-container .arrow::after {
    content: '';
    background: #ddd;
    width: 50px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    height: 100%;
    display: flex;
}

.history-container > .arrow.-left {
    flex-direction: row-reverse;
}

.history-container > .arrow.-left::after {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.history-container .arrow.-down {
    flex-direction: column;
}

.history-container .arrow.-down::before {
    width: 60%;
    height: unset;
    padding: 10px 0;
}

.history-container .arrow.-down::after {
    height: 50px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    width: 100%;
}

.history-container.-skipped > .image.previous-reference,
.history-container.-skipped > .image.previous-before-diff,
.history-container.-skipped > .arrow.from-previous-reference,
.history-container.-skipped > .arrow.from-previous-before-diff,
.history-container.-skipped > .image.next-reference,
.history-container.-skipped > .image.next-before-diff,
.history-container.-skipped > .arrow.from-next-reference,
.history-container.-skipped > .arrow.from-next-before-diff,
.history-container.-skipped .image.interpolated,
.history-container.-skipped .arrow.from-interpolated {
    display: none;    
}

.history-container.-intra > .image.previous-reference,
.history-container.-intra > .image.previous-before-diff,
.history-container.-intra > .arrow.from-previous-reference,
.history-container.-intra > .arrow.from-previous-before-diff,
.history-container.-intra > .image.next-reference,
.history-container.-intra > .image.next-before-diff,
.history-container.-intra > .arrow.from-next-reference,
.history-container.-intra > .arrow.from-next-before-diff,
.history-container.-intra .image.interpolated,
.history-container.-intra .arrow.from-interpolated {
    display: none;    
}

.history-container.-forward > .image.next-reference,
.history-container.-forward > .image.next-before-diff,
.history-container.-forward > .arrow.from-next-reference,
.history-container.-forward > .arrow.from-next-before-diff,
.history-container.-forward .image.interpolated,
.history-container.-forward .arrow.from-interpolated {
    display: none;    
}

.history-container.-backward > .image.previous-reference,
.history-container.-backward > .image.previous-before-diff,
.history-container.-backward > .arrow.from-previous-reference,
.history-container.-backward > .arrow.from-previous-before-diff,
.history-container.-backward .image.interpolated,
.history-container.-backward .arrow.from-interpolated {
    display: none;    
}


.history-container.-interpolated > .arrow.from-next-before-diff,
.history-container.-interpolated > .arrow.from-previous-before-diff {
    flex-grow: 0;
}
.history-container.-interpolated > .arrow.from-next-before-diff::before,
.history-container.-interpolated > .arrow.from-previous-before-diff::before {
    content: none;
}

.macroblock-selection-hint {
    padding: var(--component-gap);
    background-color: mintcream;
    border: 2px solid yellowgreen;
    color: darkgreen;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.macroblock-selection-hint.-hidden {
    display: none;
}

/* PRESETS */
.preset_images_wrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
}
.preset_image_wrapper {
    flex: 1;
}
.square_div_container {
    display: inline-block;
    position: relative;
    min-width: 100%;
    padding-top: 100%;
}
.preset_image_clickable_div {
    margin: 5%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.preset_img {
    display: block;
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    left: -25%;
}

.preset-videos-wrapper, .preset-audio-wrapper {
    display: flex;
    width: 70%;
    font-size: 1rem;
    justify-content: space-around;
    margin-top: 2rem;
}

.preset-videos-wrapper > .preset-video, .preset-audio-wrapper > .preset-audio{
    background-color: #efefef;
    padding-inline: 20px;
    cursor: pointer;
}